<%- include('../partials/header') %>

<div class="container questions">
    <h1>Edit comment</h1>
 
    <form class="form" action="/questions/<%=id%>/answer/<%=answer._id%>?_method=PUT" method="POST">
        <label for="answer">Answer:</label>
        <input type="text" name="answer" value="<%=answer.answer%>" required>
        <button class="button">Submit</button>
    </form>
</div>


<%- include('../partials/footer') %>